{%- assign graphics = site.data.infographics | where_exp: "g", "g.image" -%}
<a href="{{ '/who-we-are/' | relative_url }}"{% if page.url == '/who-we-are/' %} aria-current="page"{% endif %}>Who We Are</a>
<a href="{{ '/events/' | relative_url }}"{% if page.url contains '/events/' %} aria-current="page"{% endif %}>Events</a>
<a href="{{ '/media/' | relative_url }}"{% if page.url == '/media/' %} aria-current="page"{% endif %}>In The News</a>
{% if graphics.size > 0 %}<a href="{{ '/infographics/' | relative_url }}"{% if page.url == '/infographics/' %} aria-current="page"{% endif %}>Infographics</a>{% endif %}
<a href="{{ site.national_site }}" target="_blank" rel="noopener">National SUFS</a>
